@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}

.currency-input {
  border: 1px solid #000;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
}

.equals-sign {
  font-size: 2rem;
}